@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec49;
    font-family: 'Lobster', sans-serif;
    color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 10%;
    padding: 0px;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: auto;
}

.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    
}

.nav-links li {
    display: inline-block;
    align-items: center;
}

.nav-links li a {
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.nav-links li a:hover {
    color: goldenrod;
}

button {
    background-color: goldenrod;
    border: none;
    border-radius: 50px;
    font-family: "Lobster";
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color: #f0ad4e;
}